{% extends "base.html" %}

{% block content %}

<ul class="nav navbar-nav navbar-right">
    {% if not request.user.is_authenticated %}
    <li>
        <a href="{% url 'login' %}">Login</a>
    </li>
    {% else %}
    <li class="dropdown">
   	Username: 
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{{ request.user.username }}<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">个人信息</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </li>
    {% endif %}
</ul>


<div class="posts">
    {% for media in media_list %}
        <section class="post">
            <div class="post-description">
                <p>
                    {{ media.mediaName }}
                </p>
		<p>
		    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{{ media.mediaPath }}<span class="caret"></span></a>
		    <video width="320" height="240" controls>
  			<source src={{media.mediaName}} type="video/mp4">
  			<source src="movie.ogg" type="video/ogg">
			Your browser does not support the video tag.
		    </video>
		</p>
            </div>
        </section>
    {% endfor %}
    
    {% if post_list.object_list and post_list.paginator.num_pages > 1 %}
      <div>
      <ul class="pager">
      {% if post_list.has_previous %}
        <li><a href="?page={{ post_list.previous_page_number }}">上一页</a></li>
      {% endif %}

      {% if post_list.has_next %}
        <li><a href="?page={{ post_list.next_page_number }}">下一页</a></li>
      {% endif %}
      </ul>
      </div>
    {% endif %}
</div><!-- /.blog-post -->
{% endblock %}

